:root {
  --semantic-button-font-family: "Public Sans", Helvetica;
  --semantic-button-font-weight: 700;
  --semantic-button-font-size: 16px;
  --semantic-button-letter-spacing: 0px;
  --semantic-button-line-height: 24px;
  --semantic-button-font-style: normal;
  --semantic-heading-1-font-family: "Public Sans", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 20px;
  --semantic-heading-1-letter-spacing: -0.5px;
  --semantic-heading-1-line-height: 28px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-2-font-family: "Public Sans", Helvetica;
  --semantic-heading-2-font-weight: 900;
  --semantic-heading-2-font-size: 30px;
  --semantic-heading-2-letter-spacing: -0.75px;
  --semantic-heading-2-line-height: 36px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-3-font-family: "Public Sans", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 18px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 28px;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-4-font-family: "Public Sans", Helvetica;
  --semantic-heading-4-font-weight: 700;
  --semantic-heading-4-font-size: 20px;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: 28px;
  --semantic-heading-4-font-style: normal;
  --semantic-input-font-family: "Public Sans", Helvetica;
  --semantic-input-font-weight: 400;
  --semantic-input-font-size: 14px;
  --semantic-input-letter-spacing: 0px;
  --semantic-input-line-height: normal;
  --semantic-input-font-style: normal;
  --semantic-label-font-family: "Public Sans", Helvetica;
  --semantic-label-font-weight: 700;
  --semantic-label-font-size: 10px;
  --semantic-label-letter-spacing: 0px;
  --semantic-label-line-height: 15px;
  --semantic-label-font-style: normal;
  --semantic-label-strikethrough-font-family: "Public Sans", Helvetica;
  --semantic-label-strikethrough-font-weight: 500;
  --semantic-label-strikethrough-font-size: 16px;
  --semantic-label-strikethrough-letter-spacing: 0px;
  --semantic-label-strikethrough-line-height: 24px;
  --semantic-label-strikethrough-font-style: normal;
  --semantic-link-font-family: "Public Sans", Helvetica;
  --semantic-link-font-weight: 500;
  --semantic-link-font-size: 16px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 24px;
  --semantic-link-font-style: normal;
  --public-sans-semibold-upper-font-family: "Public Sans", Helvetica;
  --public-sans-semibold-upper-font-weight: 600;
  --public-sans-semibold-upper-font-size: 10px;
  --public-sans-semibold-upper-letter-spacing: 1px;
  --public-sans-semibold-upper-line-height: 15px;
  --public-sans-semibold-upper-font-style: normal;
  --public-sans-bold-upper-font-family: "Public Sans", Helvetica;
  --public-sans-bold-upper-font-weight: 700;
  --public-sans-bold-upper-font-size: 12px;
  --public-sans-bold-upper-letter-spacing: -0.6000000238418579px;
  --public-sans-bold-upper-line-height: 16px;
  --public-sans-bold-upper-font-style: normal;
  --public-sans-italic-font-family: "Public Sans", Helvetica;
  --public-sans-italic-font-weight: 400;
  --public-sans-italic-font-size: 16px;
  --public-sans-italic-letter-spacing: 0px;
  --public-sans-italic-line-height: 26px;
  --public-sans-italic-font-style: italic;
  --public-sans-regular-font-family: "Public Sans", Helvetica;
  --public-sans-regular-font-weight: 400;
  --public-sans-regular-font-size: 16px;
  --public-sans-regular-letter-spacing: 0px;
  --public-sans-regular-line-height: 26px;
  --public-sans-regular-font-style: normal;
  --public-sans-semibold-font-family: "Public Sans", Helvetica;
  --public-sans-semibold-font-weight: 600;
  --public-sans-semibold-font-size: 18px;
  --public-sans-semibold-letter-spacing: 0px;
  --public-sans-semibold-line-height: 28px;
  --public-sans-semibold-font-style: normal;
  --public-sans-bold-font-family: "Public Sans", Helvetica;
  --public-sans-bold-font-weight: 700;
  --public-sans-bold-font-size: 16px;
  --public-sans-bold-letter-spacing: 0px;
  --public-sans-bold-line-height: 26px;
  --public-sans-bold-font-style: normal;
  --public-sans-black-font-family: "Public Sans", Helvetica;
  --public-sans-black-font-weight: 900;
  --public-sans-black-font-size: 36px;
  --public-sans-black-letter-spacing: 0px;
  --public-sans-black-line-height: 40px;
  --public-sans-black-font-style: normal;
}
